USE [master]
GO
/****** Object:  Database [PROGPOE7312]    Script Date: 11/2/2020 11:19:44 AM ******/
CREATE DATABASE [PROGPOE7312]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROGPOE7312', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PROGPOE7312.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROGPOE7312_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PROGPOE7312_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROGPOE7312].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROGPOE7312]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 11/2/2020 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [varchar](255) NOT NULL,
	[currencyDate] [datetime] NOT NULL,
	[currencyAmount] [int] NULL,
	[currencyDescription] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeweyDecimal]    Script Date: 11/2/2020 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeweyDecimal](
	[callNumber] [varchar](255) NOT NULL,
	[definition] [varchar](255) NOT NULL,
	[description] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[callNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 11/2/2020 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[id] [int] NOT NULL,
	[gameName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Points]    Script Date: 11/2/2020 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Points](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [varchar](255) NOT NULL,
	[pointDate] [datetime] NOT NULL,
	[pointAmount] [int] NULL,
	[pointDescription] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/2/2020 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[role] [int] NOT NULL,
	[fullName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Currency] ON 

INSERT [dbo].[Currency] ([id], [userId], [currencyDate], [currencyAmount], [currencyDescription]) VALUES (1, N'user10', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 100, N'initial currency for registration')
INSERT [dbo].[Currency] ([id], [userId], [currencyDate], [currencyAmount], [currencyDescription]) VALUES (2, N'user10', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 5, N'round won, Replacing Books Game')
INSERT [dbo].[Currency] ([id], [userId], [currencyDate], [currencyAmount], [currencyDescription]) VALUES (3, N'user10', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 5, N'round won, Replacing Books Game')
GO
SET IDENTITY_INSERT [dbo].[Currency] OFF
INSERT [dbo].[DeweyDecimal] ([callNumber], [definition], [description]) VALUES (N'000', N'Generalities', N'Generalities')
INSERT [dbo].[DeweyDecimal] ([callNumber], [definition], [description]) VALUES (N'001', N'Knowledge', N'Knowledge')
INSERT [dbo].[DeweyDecimal] ([callNumber], [definition], [description]) VALUES (N'002', N'The book', N'The book')
GO
SET IDENTITY_INSERT [dbo].[Points] ON 

INSERT [dbo].[Points] ([id], [userId], [pointDate], [pointAmount], [pointDescription]) VALUES (1, N'user10', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 50, N'round won, Replacing Books Game')
INSERT [dbo].[Points] ([id], [userId], [pointDate], [pointAmount], [pointDescription]) VALUES (2, N'user10', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 50, N'round won, Replacing Books Game')
INSERT [dbo].[Points] ([id], [userId], [pointDate], [pointAmount], [pointDescription]) VALUES (3, N'user10', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 50, N'round won, Replacing Books Game')
GO
SET IDENTITY_INSERT [dbo].[Points] OFF
INSERT [dbo].[Users] ([username], [password], [email], [role], [fullName]) VALUES (N'18009666', N'password1', N'18009666@vcconnect.co.za', 0, N'Aharon Kangisser')
INSERT [dbo].[Users] ([username], [password], [email], [role], [fullName]) VALUES (N'player1', N'password', N'aharon@gmail.com', 0, N'Aharon')
INSERT [dbo].[Users] ([username], [password], [email], [role], [fullName]) VALUES (N'user1', N'password1', N'temp@gmail.com', 0, N'Bill Blank')
ALTER TABLE [dbo].[Currency]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Points]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([username])
GO
USE [master]
GO
